<div class="logo text-center">
    <img width="250" height="88px" src="https://uae.fitnessfirstme.com/themes/custom/ffme/share-image.png" alt="">
</div>

<div class="registration-form m-2 p-4">
    <form [formGroup]="registerForm " (ngSubmit)="formSubmit(registerForm.value)">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="Firstname" formControlName="firstName">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Lastname" formControlName="lastName">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Mobile No</mat-label>
                    <input matInput placeholder="Mobile No" formControlName="mobile">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Weight</mat-label>
                    <input type="number" formControlName="weight" matInput placeholder="Weight in KGs">
                    <mat-icon matSuffix>line_weight</mat-icon>
                    <!-- <mat-hint>Unit in KGs</mat-hint> -->
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Height</mat-label>
                    <input [readonly]="!this.registerForm.value.weight" type="number" formControlName="height" matInput
                        placeholder="Height in metres">
                    <mat-icon matSuffix>
                        <i class="fa fa-text-height" aria-hidden="true"></i>
                    </mat-icon>
                    <!-- <mat-hint>Unit in metres</mat-hint> -->
                </mat-form-field>
            </div>
            <div class="col-md-6 mt-3">
                <mat-form-field appearance="outline">
                    <mat-label>BMI</mat-label>
                    <input type="number" formControlName="bmi" matInput placeholder="BMI" readonly>
                    <mat-icon matSuffix>
                        <i class="fa fa-sort-numeric-desc" aria-hidden="true"></i>
                    </mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6 mt-3">
                <mat-form-field appearance="outline">
                    <mat-label>BMI Result</mat-label>
                    <input type="text" formControlName="bmiResult" matInput placeholder="BMI Result" readonly>
                    <mat-icon matSuffix>
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </mat-icon>
                </mat-form-field>
            </div>
            <div class="col-md-6 mt-3">
                <label id="example-radio-group-label">Do you require Trainer?</label>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                    formControlName="requireTrainer">
                    <mat-radio-button class="example-radio-button" *ngFor="let trainerOpt of ['Yes','No']"
                        [value]="trainerOpt">{{trainerOpt}}

                    </mat-radio-button>
                </mat-radio-group>
                <!-- <div>Selected Option is: </div> -->
            </div>
            <div class="col-md-6 mt-3">
                <label id="example-radio-group-label">Gender</label>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                    formControlName="gender">
                    <mat-radio-button class="example-radio-button" *ngFor="let gender of genders"
                        [value]="gender">{{gender}}

                    </mat-radio-button>
                </mat-radio-group>
                <!-- <div>Selected gender is: </div> -->
            </div>
            <div class="col-md-6 mt-4">
                <mat-form-field appearance="outline">
                    <mat-label>Select Package</mat-label>
                    <mat-select formControlName="package">
                        <mat-option *ngFor="let package of packages" [value]="package">
                            {{package}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6 mt-4">
                <mat-form-field appearance="outline">
                    <mat-label>Which of the following is important to you? </mat-label>
                    <mat-select multiple="" formControlName="important">
                        <mat-option *ngFor="let important of importantList" [value]="important">
                            {{important}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6 ">
                <label id="example-radio-group-label">Have you joined Gym Before?</label>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                    formControlName="haveGymBefore">
                    <mat-radio-button class="example-radio-button" *ngFor="let gym of ['Yes','No']"
                        [value]="gym">{{gym}}

                    </mat-radio-button>
                </mat-radio-group>
                <!-- <div>Selected option is: </div> -->
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Enquiry date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="enquiryDate">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

            </div>
        </div>

        <button mat-raised-button *ngIf="!isUpdateActive" class="mt-4" style="background-color: #ffc64d" [disabled]="registerForm.invalid">
            Submit</button>

        <button mat-raised-button *ngIf="isUpdateActive" (click)="update()" class="mt-4" style="background-color: #ffc64d" >
            Update</button>

    </form>
</div>